!!!
%html{"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %body  
    :css
      h1{
        padding: 0px;
        margin: 0px;
      }
      hr{
        width: 98%;
        color: #000;
        background-color: #000;
      }
      body{
        margin: 0px;
        padding: 0px;
        font-size: 1.3em;
        font-family: 'stag sans', arial;
      }
      table{
        width: 100%;
      }      
      table.footer_table{
        text-align: center;
        width: 850px;
      }
      table.text_logo_table{
        height: 100px;
        background: transparent;
      }
      span.terms{
        float: right;
        padding: 5px;
        font-size: 0.9em;
      }
      span.logo_text{
        font-size: 0.8em;
      }
      td.center_main_table{
        background-color: rgb(152, 215, 43);
        background-image: -webkit-radial-gradient(50% 25%, 1140px 1040px, rgba(255, 255, 255, 255) 0%, rgb(200, 215, 36) 38%);
        background-image: -ms-radial-gradient(50% 25%, 1140px 1040px, rgba(255, 255, 255, 255) 0%, rgb(200, 215, 36) 38%);
        background-image: -o-radial-gradient(50% 25%, 1140px 1040px, rgba(255, 255, 255, 255) 0%, rgb(200, 215, 36) 38%);
        background-image: radial-gradient(50% 25%, 1140px 1040px, rgba(255, 255, 255, 255) 0%, rgb(200, 215, 36) 38%);
        background-image: -moz-radial-gradient(50% 25%, 1140px 1040px, rgba(255, 255, 255, 255) 0%, rgb(200, 215, 36) 38%);
        background: -moz-radial-gradient(50% 25% , ellipse closest-side, #FFFFFF, #C8D724 120%) repeat scroll 0 0 #C8D724;
      }
      .right{
        margin-top: 200px;
        padding-right: 60px;
      }
      .left{
        padding-left: 50px;
      }
      .huge_text{
        font-size: 3.5em;
      }
      .text_area.larger{
        font-size: 1.5em;
        padding-top: 15px;
      }
      .center_footer{
        padding-bottom: 10px;
      }
      .center_upper_imagebox{
        padding-left: 280px;
        padding-top: 40px;
      }
    %table
      %tr
        %td.left_main_table
          .left_container
            %h1

        %td.center_main_table{:width => "650px", :style => "background-image: url('http://www.olacabs.com/img/campaigns/back_gradient.jpg')"}
          .center_container{ :style => "background-image: url('http://www.olacabs.com/img/campaigns/back_gradient.jpg')" }
            .center_upper
              %table.center_upper_table
                %tr
                  %td.imagebox{:height => "300px"}
                    .center_upper_imagebox
                      %img.large_center{:src => "http://www.olacabs.com/img/campaigns/airfare_small.png", :alt => "Airfare element"}
            .center_mid
              %table.text_logo_table
                %tr
                  %td
                    .left
                      .huge_text
                        Airfare
                        %b
                          Up.
                      .huge_text
                        Cab fare
                        %b
                          down.
                      .text_area.larger
                        Banglore airport transfer for only Rs.500/-
                      .text_area.larger
                        To book a cab  call 3355 3355
                        %br
                          Use code Airport500
                  %td{:align => "center"}
                    .right
                      %a{:href => "http://www.olacabs.com"}
                        %img.ola_logo{:src => "http://www.olacabs.com/img/campaigns/olacabs_final_logo.png", :alt => "Ola cabs logo", :id => "logo"}
                      %span.logo_text
                        %br
                          %b
                            BE INDEPENDENT
            %hr      
            .center_footer
              %table.footer_table
                %tr
                  %td
                    Track your cab on app&nbsp;&nbsp;&nbsp;|
                  %td
                    Same cab fare 24X7&nbsp;&nbsp;&nbsp;|
                  %td
                    Download the app from
                  %td
                    %a{:href => "https://play.google.com/store/apps/details?id=com.olacabs.customer&hl=en"}
                      %img.play_store{:src => "http://www.olacabs.com/img/campaigns/google_play.png", :alt => "google play logo"}
                  %td
                    %a{:href => "http://itunes.apple.com/in/app/ola-cabs/id539179365?mt=8"}
                      %img.app_store{:src => "http://www.olacabs.com/img/campaigns/app_store.png", :alt => "apple app store logo"}
            %span.terms
              *T&C apply

        %td.right_main_table
          .right_container
            %h1
