%html{"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %body  
    :css
      h1{
        padding: 0px;
        margin: 0px;
      }
      hr{
        width: 90%;
        margin-left: 40px;
      }
      body{
        margin: 0px;
        padding: 0px;
        font-size: 1.3em;
      }
      table{
        width: 100%;
      }
      table.footer_table{
        text-align: center;
        width: 850px;
        padding-left: 40px;
      }
      table.text_logo_table{
        height: 100px;
        background: transparent;
      }

      img{
        height: 80px;
      }
      img.app_store{
        max-height: 30px;
        max-width: 130px;
      }
      img.play_store{
        max-height: 30px;
        max-width: 130px;
      }
      td.center_main_table{

      }
      td.right_main_table{

      }
      .left_container{
        height: 130%;
      }
      .center_container{
        background: rgb(152, 215, 43);
        background-image: -webkit-radial-gradient(50% 25%, 1140px 1040px, rgba(255, 255, 255, 255) 0%, rgb(152, 215, 43) 38%);
        background-image: -ms-radial-gradient(50% 25%, 1140px 1040px, rgba(255, 255, 255, 255) 0%, rgb(152, 215, 43) 38%);
        background-image: -o-radial-gradient(50% 25%, 1140px 1040px, rgba(255, 255, 255, 255) 0%, rgb(152, 215, 43) 38%);
        background-image: radial-gradient(50% 25%, 1140px 1040px, rgba(255, 255, 255, 255) 0%, rgb(152, 215, 43) 38%);
        background-image: -moz-radial-gradient(50% 25%, 1140px 1040px, rgba(255, 255, 255, 255) 0%, rgb(152, 215, 43) 38%);
        background: -moz-radial-gradient(50% 25% , ellipse closest-side, #FFFFFF, #98D72B 120%) repeat scroll 0 0 #98D72B;
      }
      .right{
        margin-top: 200px;
        padding-right: 60px;
      }
      .left{
        padding-left: 50px;
      }
      .huge_text{
        font-size: 4em;
      }
      .text_area.larger{
        font-size: 1.6em;
        padding-top: 15px;
      }
      .center_footer{
        padding-bottom: 50px;
      }
      .center_upper_imagebox{
        padding-left: 220px;
        height: 240px;
        max-height: 240px;
      }
    %table
      %tr
        %td.left_main_table
          .left_container
            %h1

        %td.center_main_table{:width => "900px"}
          .center_container
            .center_upper
              %table.center_upper_table
                %tr
                  %td.imagebox{:height => "500px"}
                    .center_upper_imagebox
                      %img.center_image{:src => "image_path", :alt => "center logo image"}
            .center_mid
              %table.text_logo_table
                %tr
                  %td{:width=> "900px"}
                    .left
                      .huge_text
                        Cab fare down.
                      .huge_text
                        Lorem Ipsum 
                      .text_area.larger
                        Lorem Ipsum Lorem Ipsum Lorem Ipsum 
                      .text_area.larger
                        Lorem Ipsum Lorem Ipsum Lorem Ipsum 
                      .text_area.larger
                        Lorem Ipsum Lorem Ipsum Lorem Ipsum 
                        
                  %td{:align => "center"}
                    .right
                      %a{:href => "http://www.google.com"}
                        %img{:src => "image.png", :alt => "logo", :id => "logo"}
                      %span.logo_text
                        
            %hr      
            .center_footer
              %table.footer_table
                %tr
                  %td{:width => "190px;"}
                    lorem ipsum app&nbsp;&nbsp;&nbsp;|
                  %td{:width => "170px;"}
                    lorem ipsum 24X7&nbsp;&nbsp;&nbsp;|
                  %td{:width => "190px;"}
                    lorem ipsum
                  %td{:width => "100px;"}
                    %a{:href => "https://google.com"}
                      %img.play_store{:src => "image.png", :alt => "google play logo"}
                  %td{:width => "100px;"}
                    %a{:href => "http://google.com"}
                      %img.app_store{:src => "image.png", :alt => "apple app store logo"}

        %td.right_main_table
          .right_container
            %h1
