%html
  %body  
    :css
      .body{
        margin: 0px;
        padding: 0px;
        font-size: 1.3em;
        height: 100%;
      }
      h1, hr{
        padding: 0px;
        margin: 0px;
      }
      body{
        height: 100%;
      }
      table{
        height: 100%;
        width: 100%;
      }
      td.left_main_table{

      }
      td.center_main_table{

      }
      td.right_main_table{

      }
      .left_container{
        background: green;
        height: 130%;
      }
      .center_container{
        background: blue;
        height: 130%;
      }
      .right_container{
        background: red;
        height: 130%;
      }
      .center_inner{
        background: pink;
        width: 90%;
        margin-left: 5%;
      }
      .center_upper{
        background: orange;
        height: 60%;
      }
      .center_upper_imagebox{
        background: #ff22a2;
        width: 50%;
        margin-left: 25%;
        margin-top: 7%;
        height: 70%;
      }
      .center_mid{
        background: gray;
        height: 35%;
      }
      .right{
        float: right;
        height: 25%;
        background: red;
        margin-top: 26.5%;
      }
      .left{
        float: left;
        background: white;
      }
      .huge_text{
        font-size: 4em;
      }
      .text_area.larger{
        font-size: 1.6em;
        padding-top: 15px;
      }
      .center_footer{
        background: purple;
        height: 10%;
      }
    %table
      %tr
        %td.left_main_table
          .left_container
            %h1
              left title
        %td.center_main_table      
          .center_container
            .center_inner
              .center_upper
                %h1
                  center title
                .center_upper_imagebox
                  %h1
                    imagebox
              .center_mid
                .left
                  .huge_text
                    Airfare Up.
                  .huge_text
                    Cab fare down.
                  .text_area.larger
                    Banglore airport transfer for only Rs.500/-
                  .text_area.larger
                    To Book a cab  call 3355 3355
                  .text_area.larger
                    Use code Airport500
                .right
                  .logo
                    %h1
                      another div
                  .bottom_text    
                    Be independent  
              %hr      
              .center_footer
                %table.footer_table
                  %tr
                    %td
                      Track your cab on app
                      |
                    %td
                      Same cab fare 24X7
                      |
                    %td
                      Download the app from
                    %td
                      %img
                    %td
                      %img
        %td.right_main_table
          .right_container
            %h1
              right title

